<table id="datatable" class="table table-striped">
    <thead>
    <tr>
        <th class="text-left tc-register-date tc-hidden">{{ "PARTICIPANTS.FIELDS.DATE_INSCRIPTION" | translate }}</th>

        <th class="text-left tc-validation-date">{{ "PARTICIPANTS.FIELDS.DATE_VALIDATION" | translate }}</th>
        <th class="text-left tc-id">{{ "PARTICIPANTS.FIELDS.ID_ASS" | translate }}</th>
        <th class="text-left tc-username">{{ "PARTICIPANTS.FIELDS.PSEUDO" | translate }}</th>
        <th class="text-left tc-f-name">{{ "PARTICIPANTS.FIELDS.FIRSTNAME" | translate }}</th>
        <th class="text-left tc-l-name">{{ "PARTICIPANTS.FIELDS.LASTNAME" | translate }}</th>

        <th class="text-left tc-email tc-hidden">{{ "PARTICIPANTS.FIELDS.EMAIL" | translate }}</th>
        <th class="text-left tc-phone tc-hidden">{{ "PARTICIPANTS.FIELDS.TEL" | translate }}</th>
        <th class="text-left tc-address tc-hidden">{{ "PARTICIPANTS.FIELDS.ADDRESS" | translate }}</th>
        <th class="text-left tc-city tc-hidden">{{ "PARTICIPANTS.FIELDS.CITY" | translate }}</th>
        <th class="text-left tc-postal-code tc-hidden">{{ "PARTICIPANTS.FIELDS.POSTAL_CODE" | translate }}</th>
        <th class="text-left tc-country tc-hidden">{{ "PARTICIPANTS.FIELDS.COUNTRY" | translate }}</th>
        <th class="text-left tc-brand tc-hidden">{{ "PARTICIPANTS.FIELDS.BRAND" | translate }}</th>
        <th class="text-left tc-model tc-hidden">{{ "PARTICIPANTS.FIELDS.MODEL" | translate }}</th>
        <th class="text-left tc-year tc-hidden">{{ "PARTICIPANTS.FIELDS.YEAR" | translate }}</th>

        <th class="text-left tc-serial">{{ "PARTICIPANTS.FIELDS.SERIAL_NO" | translate }}</th>
        <th class="text-left tc-firstts tc-hidden">{{ "PARTICIPANTS.FIELDS.FIRST_TRANSMISSION" | translate }}</th>
        <th class="text-left tc-lastts">{{ "PARTICIPANTS.FIELDS.LAST_TRANSMISSION" | translate }}</th>

        <th class="text-left tc-machineid">{{ "PARTICIPANTS.FIELDS.MUBI" | translate }}</th>

        <th class="text-left tc-action ">{{ "PARTICIPANTS.FIELDS.ACTION" | translate }}</th>

    </tr>
    </thead>
    <tbody>
    <tr id="row-{{cleanHighlightedData(participant.user.username)}}" class="odd gradeX" ng-repeat="participant in searchResults">
        <td class="text-left tc-register-date tc-hidden" >{{participant.subscriptionTs}}</td>

        <td class="text-left tc-validation-date" >{{participant.validationTs}}</td>
        <td class="text-left tc-id" ng-bind-html="participant.externalIdentifier  | to_trusted"></td>
        <td class="text-left tc-username"><a ui-sref="dashboard.participants.profile({username:cleanHighlightedData(participant.user.username)})" ng-bind-html="participant.user.username | to_trusted"></a></td>
        <td class="text-left tc-f-name" ng-bind-html="participant.user.firstName | to_trusted"></td>
        <td class="text-left tc-l-name" ng-bind-html="participant.user.lastName | to_trusted"></td>

        <td class="text-left tc-email tc-hidden" ng-bind-html="rma.machine.participant.user.email | to_trusted"></td>
        <td class="text-left tc-phone tc-hidden" >{{participant.user.homePhoneNumber}}</td>
        <td class="text-left tc-address tc-hidden" >{{participant.user.addresses[0].line1}} {{participant.user.addresses[0].line2}}</td>
        <td class="text-left tc-city tc-hidden" > {{participant.user.addresses[0].city}}</td>
        <td class="text-left tc-postal-code tc-hidden" > {{participant.user.addresses[0].postalCode}}</td>
        <td class="text-left tc-country tc-hidden" > {{participant.user.addresses[0].country}}</td>
        <td class="text-left tc-brand tc-hidden" >{{participant.machines[0].vehicle.brand}}</td>
        <td class="text-left tc-model tc-hidden" >{{participant.machines[0].vehicle.model}}</td>
        <td class="text-left tc-year tc-hidden" >{{participant.machines[0].vehicle.year}}</td>

        <td class="text-left tc-serial" ng-bind-html="participant.machines[0].deviceSerialNumber | to_trusted"></td>
        <td class="text-left tc-firstts tc-hidden" >{{participant.machines[0].firstConnectionTs}}</td>
        <td class="text-left tc-lastts" >{{participant.machines[0].lastConnectionTs}}</td>

        <td class="text-left tc-machineid" ng-bind-html="participant.machines[0].machineIdentifier | to_trusted"></td>


        <td class="text-left tc-action ">
            <button class="btn btn-xs btn-success table-btn" ng-click="chooseMachineAndParticipant(participant.machines[0], participant)">{{"PARTICIPANTS.ACTIONS.DECLARE" | translate}}</button>
        </td>
    </tr>
    </tbody>
</table>
